<Configuration>
    <Appenders>
        <Console name="ConsoleLog">
            <PatternLayout>
                <Pattern>%d{dd-MM HH:mm:ss:SSS} %p [%t] [%c{1}] %m%n</Pattern>
            </PatternLayout>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info" additivity="false">
            <AppenderRef ref="ConsoleLog"/>
        </Root>

        <Logger name="io.swisschain.crypto.transaction.signing.signers.HsmBitcoinCoinTransactionSigner"
                level="debug" additivity="false">
            <AppenderRef ref="ConsoleLog"/>
        </Logger>

        <Logger name="io.swisschain.crypto.transaction.signing.signers.HsmEthereumTransactionSigner"
                level="debug" additivity="false">
            <AppenderRef ref="ConsoleLog"/>
        </Logger>

        <Logger name="io.swisschain.tasks.TransferSigningTask"
                level="debug" additivity="false">
            <AppenderRef ref="ConsoleLog"/>
        </Logger>
    </Loggers>
</Configuration>